
@font-face
{
	font-family: Gotham-Book;
	src:url(fonts/Gotham/Gotham-Book.otf);
}
@font-face
{
	font-family: Gotham-BookItalic;
	src:url(fonts/Gotham/Gotham-BookItalic.otf);
}
@font-face
{
	font-family: Gotham-Medium;
	src:url(fonts/Gotham/Gotham-Medium.otf);
}
@font-face
{
	font-family: Gotham-Light;
	src:url(fonts/Gotham/Gotham-Light.otf);
}
@font-face
{
	font-family: Gotham-Bold;
	src:url(fonts/Gotham/Gotham-Bold.otf);
}
@font-face
{
	font-family: Cormorant-Medium;
	src:url(fonts/Gotham/Cormorant-Medium.otf);
}
@font-face
{
	font-family: Cormorant-Regular;
	src:url(fonts/Gotham/Cormorant-Regular.otf);
}
@font-face
{
	font-family: Cormorant-SemiBold;
	src:url(fonts/Gotham/Cormorant-SemiBold.otf);
}
@font-face
{
	font-family: Cormorant-Bold;
	src:url(fonts/Gotham/Cormorant-Bold.otf);
}

.top-nav {
	font-family: Gotham-Book !important;
	color: white !important;
	/*font-size: 11*1.344 pt !important;*/
}
.search-box {
	font-family: Gotham-BookItalic !important;
	color: #363636 !important;
	/*font-size: 13*1.344 pt !important;*/
}
.logo {
	font-family: Cormorant-Medium !important;
	color: #363636 !important;
	/*font-size: 32*1.334 pt !important;*/
}
.login-register {
	font-family: Gotham-Medium !important;
	color: #363636 !important;
	/*font-size: 13*1.344 pt !important;*/
}
.menu-title {
	font-family: Gotham-Medium !important;
	color: black !important;
	/*font-size: 14*1.344 pt !important;*/
}
.menu-sub-sub-title {
	font-family: Gotham-Book !important;
	color: #7f7f7f !important;
	/*font-size: 13*1.344 pt !important;*/
}
.kb-bigger {
	font-family: Cormorant-Medium !important;
	color: black !important;
	/*font-size: 100*1.334 pt !important;*/
}
.kb-footer {
	font-family: Cormorant-Medium !important;
	color: black !important;
	/*font-size: 75*1.334 pt !important;*/
}
.kb-bigger-text {
	font-family: Cormorant-Regular !important;
	color: #7f7f7f !important;
	/*font-size: 32*1.334 pt !important;*/
}
.kb-bigger-text {
	font-family: Cormorant-Regular !important;
	color: #7f7f7f !important;
	/*font-size: 32*1.334 pt !important;*/
}
.what-sells-best {
	font-family: Cormorant-SemiBold !important;
	color: black !important;
	/*font-size: 32*1.334 pt !important;*/
}
.dry-fruit-box {
	font-family: Cormorant-Regular !important;
	color: black !important;
	/*font-size: 28pt !important;*/
}
.kb-buttons {
	font-family: Gotham-Light !important;
	color: white !important;
	/*font-size: 17*1.334 pt !important;*/
}
.new-arrivals {
	font-family: Gotham-Bold !important;
	/*font-size: 14*1.334 !important;*/
	color: #393636 !important;
}
.copyright-footer {
	font-family: Gotham-Book !important;
	color: white !important;
	/*font-size: 13 pt*/
}
.what-sells-best-sub {
	font-family: Cormorant-SemiBold !important;
	color: black !important;
	/*font-size: 28*1.334 pt !important;*/
}
.kb-text {
	font-family: Gotham-Book !important;
	color: #7f7f7f !important;
	/*font-size: 16 pt*/
}
.sign-up-to-get {
	font-family: Cormorant-Regular !important;
	color: black !important;
	/*font-size: 32*1.334 pt !important;*/
}
.footer-menu-title {
	font-family: Cormorant-Bold !important;
	color: black !important;
	/*font-size: 18*1.334 pt !important;*/
}
.footer-menu-sub {
	font-family: Gotham-Book !important;
	color: #7e7e7e !important;
	/*font-size: 13*1.334 pt !important;*/
}
.your-convenient-connection {
	font-family: Cormorant-Bold !important;
	color: black !important;
	/*font-size: 18*1.334 pt !important;*/
}
